@import '../node_modules/tailwindcss/base.css';
@import '../node_modules/tailwindcss/components.css';
@import '../node_modules/tailwindcss/utilities.css';

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
